*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	display: grid;
	/*第一列宽度，第二例auto，第三列宽度*/
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*第一行1/4，第二行高度，第三行auto*/
	grid-template-rows: 1fr 1fr;
	border: 1px solid #FF0000;
	width: 800px;
	/*直接告诉浏览器中间空12px，上下也是*/
	grid-gap: 12px;
}
.container>div{
	border: 1px solid black;
}
.image{
	background-color: gray;
	width: 191px;
	height: 191px;
}
.e{
	grid-column-start: 2;
	grid-column-end: 4;
	background-color: #333;
}
